.experience__container {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #00529b;
    color: white;
    &__heading {
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
    }

    &__experience {
        padding: 0 20px;
        &__title {
          padding-top: 30px;
          display: flex;
          text-align: center;
          &__icon {
            width: 24px;
            padding-top: 2px;
          }
          &__text {
              padding-left: 10px;
            h1 {
              font-size: 28px;
              font-weight: 500;
            }
          }
        }
    
        &__desc {
          padding-top: 20px;
          font-size: 16px;
          text-align: justify;
        }
    
        &__position {
          padding-top: 10px;
          font-size: 16px;
          color: #f37021;
          font-weight: 600;
        }

        &__location {
            padding-top: 10px;
            font-size: 16px;
            color: #f37021;
            font-weight: 600;
          }
    
        &__duration {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
          color: #f37021;
          font-weight: 500;
        }
      }
}