<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="footer__container">
    <div class="footer__container__icons">
        <a href="https://www.facebook.com/profile.php?id=100007986191895" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.linkedin.com/in/bhanu-palagati-b20332128/" target="_blank" class="fa fa-linkedin"></a>
        <a href="mailto:bhanupalagati@gmail.com" target="_blank" class="fa fa-envelope"></a>
        <a href="https://www.instagram.com/bhanupalagati/" target="_blank" class="fa fa-instagram"></a>
        <a href="https://github.com/bhanupalagati" target="_blank" class="fa fa-github"></a>
    </div>
    <div class="footer__container__text">
        All rights are soley registered to Bhanu Palagati on this website.
    </div>
</div>