<div class="primary__navmenu">
    <div class="primary__navmenu__menubar">
        <mat-toolbar color="primary">
            <div class="primary__navmenu__menubar__content">
                <div class="primary__navmenu__menubar__content__item">
                    <mat-icon class="primary__navmenu__menubar__content__item__style" matTooltip="Home" (click)="navigateTo('/')">home</mat-icon>
                </div>
                <div class="primary__navmenu__menubar__content__item">
                    <mat-icon class="primary__navmenu__menubar__content__item__style"  matTooltip="Experience" (click)="navigateTo('/experience')">description</mat-icon>
                </div>
                <div class="primary__navmenu__menubar__content__item">
                    <mat-icon class="primary__navmenu__menubar__content__item__style"  matTooltip="Schooling & Achievements" (click)="navigateTo('/schooling')">school</mat-icon>
                </div>
                <div class="primary__navmenu__menubar__content__item">
                    <mat-icon class="primary__navmenu__menubar__content__item__style"  matTooltip="Machine Learning Implementations" (click)="navigateTo('/deployments')">psychology</mat-icon>
                </div>
            </div>
          </mat-toolbar>
    </div>
</div>