.formal-education__container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #5949eb;
    color: white;
    &__heading {
        h1 {
          line-height: 1.5;
            font-size: 40px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        }
    }

    &__schooling {
        padding: 0 20px;
        &__title {
          padding-top: 30px;
          display: flex;
          text-align: center;
          &__icon {
            width: 24px;
            padding-top: 5px;
            .fa {
                font-size: 20px;
            }
          }
          &__text {
              padding-left: 10px;
            h1 {
              font-size: 28px;
              font-weight: 500;
            }
          }
        }
    
        &__desc {
          padding-top: 20px;
          font-size: 16px;
          text-align: justify;
        }
    
        &__course {
          padding-top: 10px;
          font-size: 16px;
          color: black;
          font-weight: 600;
        }

        &__marks {
            padding-top: 10px;
            font-size: 16px;
            color: black;
            font-weight: 600;
          }

        &__location {
            padding-top: 10px;
            font-size: 16px;
            color: black;
            font-weight: 600;
          }
    
        &__duration {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
          color: black;
          font-weight: 500;
        }
      }
}