.dialog__content {
    &__desc {
        text-align: justify;
        padding-bottom: 10px;
        font-size: 16px;
    }
    &__duration {
        padding-bottom: 10px;
        color: grey;
        font-size: 16px;
        font-weight: 600;
    }
    &__github {
        margin-left: 30px;
        a {color: black;}         /* Unvisited link  */
        a:visited {color: black;} /* Visited link    */
        a:hover {color: black;}   /* Mouse over link */
        a:active {color: black;}  /* Selected link   */
    }
}